<div class="movie-card-wrap">
  <%@movies.each do |movie|%>
  <div class="movie-card">
    <img src="<%=movie.image_url%>" class="movie-image" />

    <div class="movie-title"><%=movie.name%></div>
    <div class="movie-year"><%=movie.year%></div>
    <div class="movie-description"><%=movie.description%></div>
  </div>
  <%end%>
</div>