<table>
  <thead>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <%count = 1%>
    <%@sheets.each do |sheet|%>
    <%if count%5==1 %>
    <tr>
      <%end%>

      <div class="sheet">
        <div class="<%=sheet.row%>-<%=sheet.column%>">
          <td><%=sheet.row%>-<%=sheet.column%></td>
        </div>
      </div>

      <%if count%5==0 %>
    </tr>
    <%end%>
    <%count = count + 1%>
    <%end%>

  </tbody>
</table>